@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head id="Head1">
    <title>
        login
    </title>
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style_lin.css" rel="stylesheet" type="text/css" media="all">
    <!-- for-mobile-apps -->
    <!--Google Fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
</head>
<body>

    <style>
        .butdangnhap {
            background: #ff3366;
            color: #FFF;
            font-size: 26px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            font-weight: 500;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 3px;
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            text-rendering: auto;
            max-width: 100%;
        }

            .butdangnhap:hover {
                background: #d72854;
            }
    </style>
    <form method="post" action="/cms/login.aspx" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="ahJ2fi2YY05qHYI4cPNjWSKKVe0Zmn0nQd0PbIY8dds14POadhU0/Q+MWkHaDKYzIpKWt6+dGXF4s6kvEVgd+hS0ljrdXeLNGxBXxs3D1XJBv9PdAKsw09tpS8FccqqVvd0IwbXp5UucCqlzRbiUPswbx1LesSonPC22+g==">
        </div>

        <script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}

        </script>


        <script src="/WebResource.axd?d=izxWZAIAGlVXzZ27-7tc7Q-JzeyH5uSuhLvD44jZuEvZ7t11IfSwxdmTv2C8MtWlHbJxu8hNiDqCiCcvPtLDOeWK3Z01&amp;t=637454322340000000" type="text/javascript"></script>


        <script src="../Scripts/WebForms/MsAjax/MicrosoftAjax.js" type="text/javascript"></script>
        <script type="text/javascript">

if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');

        </script>

        <script src="../Scripts/WebForms/MsAjax/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="35BB6A26">
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="wT81kAUIzMfLPLovqNtKJ795bT+hDU7O3p2bzfkJW56B74i0UudL9j4RYfTEcWHOK/EVEgOSEy8XlcsliyCKFUXFmgCArzJgIYIbCdkG4gsH8ZWyGyUQ0Z543j9HiZXgrVqOw5CrhZ3iQmQiMrk1CuD+xHqAWp1S5Qpd1WDqk1mMtGo5ZMUeJh5gEcA=">
        </div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('Scriptmanager1', 'form1', ['tctl03',''], [], [], 90, '');
//]]>
        </script>

        <div id="ctl03">


            <div class="header">
                <div class="header-main" style="padding: 100px 0px 50px;">


                    <h1 style="font-size: 40PX; font-weight: bold; padding-bottom: 7px; color: #ff3366; text-shadow: 2px -1px #FFF; text-align: center">VNPT HƯNG YÊN</h1>


                    <h4 style="color: #0b0fd5; font-size: 22PX; text-align: center; padding-bottom: 60PX">HỆ THỐNG QUẢN TRỊ, WEBSITE VNPT HƯNG YÊN</h4>
                    <div class="header-bottom">
                        <div class="header-right w3agile">

                            <div class="header-left-bottom agileinfo">



                                <input name="txtuser" type="text" id="txtuser" value="Tài khoản" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tài khoản';}">


                                <input name="txtpass" id="txtpass" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">



                                <a id="butdangnhap" class="butdangnhap" type="submit" href="javascript:__doPostBack('butdangnhap','')">Đăng nhập</a>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--header end here-->
            <div class="copyright">
                <p><a href="http://cntt.hungyen.vnpt.vn/" target="_blank">© 2016 TRUNG TÂM CÔNG NGHỆ THÔNG TIN - VNPT HƯNG YÊN </a></p>
            </div>
            <!--footer end here-->


        </div>
    </form>



</body>
</html>
