@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head id="Head1">
    <title>
        login
    </title>
    <script src="~/js/Administrator/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/css/Admin/style_lin.css" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
</head>
<body>
    <style>
        .butdangnhap {
            background: #ff3366;
            color: #FFF;
            font-size: 26px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            font-weight: 500;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 3px;
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            text-rendering: auto;
            max-width: 100%;
        }

            .butdangnhap:hover {
                background: #d72854;
            }
    </style>
    <form method="post" id="form1">      
        <div id="ctl03">
            <div class="header">
                <div class="header-main" style="padding: 100px 0px 50px;">
                    <h1 style="font-size: 40PX; font-weight: bold; padding-bottom: 7px; color: #ff3366; text-shadow: 2px -1px #FFF; text-align: center">VNPT HƯNG YÊN</h1>
                    <h4 style="color: #0b0fd5; font-size: 22PX; text-align: center; padding-bottom: 60PX">HỆ THỐNG QUẢN TRỊ, WEBSITE VNPT HƯNG YÊN</h4>
                    <div class="header-bottom">
                        <div class="header-right w3agile">
                            <div class="header-left-bottom agileinfo">
                                <input name="txtuser" type="text" id="txtuser" value="Tài khoản" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tài khoản';}">
                                <input name="txtpass" id="txtpass" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
                                <a id="butdangnhap" class="butdangnhap" type="submit">Đăng nhập</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--header end here-->
            <div class="copyright">
                <p><a href="http://cntt.hungyen.vnpt.vn/" target="_blank">© 2016 TRUNG TÂM CÔNG NGHỆ THÔNG TIN - VNPT HƯNG YÊN </a></p>
            </div>
            <!--footer end here-->
        </div>
    </form>
    <script>
        $('#butdangnhap').click(function () {
            var url = '/Login/DangNhap?user=' + $('#txtuser').val() + '&pass='+$('#txtpass').val();
            $.ajax({
                type: "GET",
                url: url,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result === 'Login failed') {
                        alert('tên tài khoản hoặc mật khẩu không đúng');
                    }                        
                    else {
                        var data = '@Session["Data"]';
                        window.location.replace("/Administrator/Index");
                    }
                },
                error: function (xhr, status, p3, p4) {
                    alert('Lỗi ' + xhr.responseText);
                }
            });
        })
    </script>
</body>
</html>
