@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Admin/assets/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Admin/assets/css/fonts.googleapis.com.css">
    <link rel="stylesheet" href="~/css/Admin/assets/css/ace.min201707211.css" class="ace-main-stylesheet">
    <link rel="stylesheet" href="~/css/Admin/assets/css/ace-skins.min.css">
    <link rel="stylesheet" href="~/css/Admin/assets/css/ace-rtl.min.css">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@

    
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="../js/jquery.min.js"></script>
        <script src="../css/Admin/assets/js/jquery-2.1.4.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="../css/select2totree.css" rel="stylesheet">
    <script src="../js/select2totree.js"></script>
    <script src="../lib/datatables/dataTables.select.min.js"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    @*<style type="text/css">
            .datepicker {
                font-size: 0.875em;
            }
                /* solution 2: the original datepicker use 20px so replace with the following:*/

                .datepicker td, .datepicker th {
                    width: 1.5em;
                    height: 1.5em;
                }
        </style>*@

    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-home"></i>
                        VNPT HƯNG YÊN - HỆ THỐNG QUẢN TRỊ WEBSITE
                    </small>
                </a>
            </div>
            @*<div id="ctl00_udp_cb">

                    <div class="navbar-buttons navbar-header pull-right" role="navigation">


                        <ul class="nav ace-nav" id="ul_thongbao" style="">


                            <li class="light-blue dropdown-modal">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="assets/images/avatars/user.jpg" alt="Jason's Photo">
                                    <span class="user-info">
                                        <small>Welcome,</small>
                                        doan huu manh
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>

                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="./doi-matkhau.html">
                                            <i class="ace-icon fa fa-cog"></i>
                                            Đổi mật khẩu
                                        </a>
                                    </li>

                                    <li>
                                        <a href="login.html">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                </div>*@
        </div>
        <!-- /.navbar-container -->
        <div class="main-content">

            <div class="main-content-inner">
                <!-- /.ace-settings-container -->
                <div style="clear:both"></div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <!-- /.row -->
                <div style="clear:both"></div>
                <div class="page-content" style="padding: 0px">
                    <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
                        <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
                            <ul class="nav nav-list" style="top: 0px;">
                                @*<li class="hover" style="margin-right: 5px">
                                        <a class="btn btn-xs btn-success " href="quan-tri-tin-bai-0.html">Thêm mới </a>
                                    </li>*@
                                @*<li class="hover" style="margin-right: 5px">
                                        <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton5" class="btn btn-xs btn-danger " href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton5','')">Xóa</a>
                                    </li>*@
                                @*<li class="hover" style="margin-right: 5px">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">
                                                Chuyển trạng thái
                                                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-success dropdown-menu-right">
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_butduyet" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$butduyet','')">Duyệt</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_butchoduyet" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$butchoduyet','')">Chờ duyệt</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_butcam" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$butcam','')">Cấm</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </li>*@
                                @*<li class="hover" style="margin-right: 5px">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">
                                                Set tin nổi bật
                                                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-success dropdown-menu-right">
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton3" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton3','')">Top 1</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton4" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton4','')">Top 2</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton6" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton6','')">Top 3</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton7" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton7','')">Top 4</a>
                                                </li>
                                                <li>
                                                    <a id="ctl00_ContentPlaceHolder1_ctl01_LinkButton8" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl01$LinkButton8','')">Top 5</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </li>*@

                            </ul>
                            <!-- /.nav-list -->
                        </div>
                        <div class="scrollable ace-scroll" data-size="100" data-position="left" style="position: relative; margin-top: 2px">
                            <div class="scroll-track scroll-active" style="display: block; height: 100px;"><div class="scroll-bar" style="height: 39px; top: 0px;"></div></div><div class="scroll-content" style="max-height: 100px;">
                                <div class="row">
                                    <div class="table-header">
                                        <div class="col-md-1">
                                            <label>Chuyên mục</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select id="danhmuc" style="width:100%;background:#fff;color:#858585" title="--Tất cả--" tabindex="0">                                               
                                            </select>
                                        </div>                                      

                                        <div class="col-md-1">
                                            <label>Trạng thái Duyệt</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select name="trangthai" id="trangthai" class="form-control">
                                                <option selected="selected" value="0">-----Tất cả-----</option>
                                                <option value="1">Chờ duyệt</option>
                                                <option value="2">Đã duyệt</option>
                                            </select>
                                        </div>

                                        <div class="col-md-1">
                                            <label>Trạng thái</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select name="type" id="type_delete" class="form-control">
                                                <option selected="selected" value="0">----Tất cả-----</option>
                                                <option value="1">Chưa hủy</option>
                                                <option value="2">Hủy</option>

                                            </select>
                                        </div>

                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="table-header" style="margin-top: 2px;color:#000;">

                                        <div class="col-md-1">
                                            <label>Từ ngày</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col">
                                                    <input data-date-format="dd/mm/yyyy" id="datepicker_tungay">
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $('#datepicker_tungay').datepicker({
                                                weekStart: 1,
                                                daysOfWeekHighlighted: "6,0",
                                                autoclose: true,
                                                todayHighlight: true,
                                            });
                                            $('#datepicker_tungay').datepicker("setDate", new Date());
                                        </script>
                                        <div class="col-md-1">
                                            <label>Đến ngày</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col">
                                                    <input data-date-format="dd/mm/yyyy" id="datepicker_denngay">
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $('#datepicker_denngay').datepicker({
                                                weekStart: 1,
                                                daysOfWeekHighlighted: "6,0",
                                                autoclose: true,
                                                todayHighlight: true,
                                            });
                                            $('#datepicker_denngay').datepicker("setDate", new Date());
                                        </script>
                                        <div class="col-md-3">
                                            <a id="loadtinbai" class="btn btn-sm btn-danger btn-primary">Xem</a>
                                            <a class="btn btn-xs btn-sm  btn-success " href="/Administrator/DangBai">Thêm mới </a>
                                            @*<li class="hover" style="margin-right: 5px">

                                                </li>*@
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>

                                    <div class="col-md-12 col-sm-12" style="padding: 5px">
                                        <div>
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">                                              
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id="example1" class="table table-striped dataTable no-footer table-responsive" data-toolbar="#tableTitle" role="grid">
                                                            <thead>
                                                                <tr role="row">                                                                 
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 76px;">ID</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending" style="width: 111px;">Title</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Sampo: activate to sort column ascending" style="width: 300px;">Sampo</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Danh mục: activate to sort column ascending" style="width: 100px;">Danh mục</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ngày đăng: activate to sort column ascending" style="width: 100px;">Ngày đăng</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Người Đăng: activate to sort column ascending" style="width: 100px;">Người Đăng</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Avata: activate to sort column ascending" style="width: 136px;">Avata</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Crawdata: activate to sort column ascending" style="width: 76px;">Crawdata</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 80px;">Status</th>                                                                    
                                                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Duyệt Bài: activate to sort column ascending" style="width: 100px;">Duyệt Bài</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
</body>

<script src="../js/MethodView/Administrator.js"></script>
</html>
