nav ul {
    background: #2096db;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 10%;
}

nav a {
    background: #2096db;
    color: #ffffff;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 20px;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-transform: uppercase;
}

nav .dropdown:after {
    content: ' \25bc';
}

nav li:hover a {
    background: #2096db;
}

nav li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    min-width: 250px;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav li:hover ul {
    opacity: 1;
    /*top: 50px;*/
    visibility: visible;
}

nav li ul li {
    width: 100%;
}
nav ul li a div {
    border-right: 1px solid #fff;
    padding-right: 15px;
    line-height: 1.3;
}
nav ul li ul li a {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.3;
}

nav li ul a:hover {
    background: #2096db;
}
/*.cf .has-children {
    background: #2096db;
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-transform: uppercase;
}*/